.signin {
    margin: 150px auto;
    display: flex;
    justify-content: center;
    label {
        padding: 10px 0;
    }
}

.input-signin {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
}

form {
    padding: 40px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sign-btn {
    background: #f1bc68;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    &:hover {

    }
}