.homepage #section1 {
    /* border: 1px solid red; */
}

.homepage #home-img1 {
    align-items: center;
    justify-content: space-around;
}

.homepage #home-img1 div img {
    max-width: 100%;
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01My4zLC01MEM2Ny44LC0zOC44LDc3LjQsLTE5LjQsNzguOCwxLjRDODAuMiwyMi4xLDczLjMsNDQuMyw1OC44LDU3LjdDNDQuMyw3MS4yLDIyLjEsNzYsLTAuMiw3Ni4yQy0yMi42LDc2LjQsLTQ1LjIsNzIuMSwtNTgsNTguNkMtNzAuOSw0NS4yLC03NC4xLDIyLjYsLTczLjcsMC40Qy03My4zLC0yMS44LC02OS4zLC00My41LC01Ni40LC01NC44Qy00My41LC02Ni4xLC0yMS44LC02Ni44LC0xLjIsLTY1LjdDMTkuNCwtNjQuNSwzOC44LC02MS4zLDUzLjMsLTUwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
    mask-repeat: no-repeat;
    mask-size: 70rem;
    mask-position: center;
}

@media screen and (max-width: 1200px) {
    .homepage #home-img1 div img {
        max-width: 100%;
        -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01My4zLC01MEM2Ny44LC0zOC44LDc3LjQsLTE5LjQsNzguOCwxLjRDODAuMiwyMi4xLDczLjMsNDQuMyw1OC44LDU3LjdDNDQuMyw3MS4yLDIyLjEsNzYsLTAuMiw3Ni4yQy0yMi42LDc2LjQsLTQ1LjIsNzIuMSwtNTgsNTguNkMtNzAuOSw0NS4yLC03NC4xLDIyLjYsLTczLjcsMC40Qy03My4zLC0yMS44LC02OS4zLC00My41LC01Ni40LC01NC44Qy00My41LC02Ni4xLC0yMS44LC02Ni44LC0xLjIsLTY1LjdDMTkuNCwtNjQuNSwzOC44LC02MS4zLDUzLjMsLTUwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
        mask-repeat: no-repeat;
        mask-size: 40rem;
        mask-position: center;
    }
    
}


.homepage #icon1 div {
    text-align: center;
}

.homepage #icon1 div img {
    max-width: 40px;
    max-height: 40px;
}

.choose-destination {
    border-radius: 25px;
    border: transparent;
    background-color: #f0e8e7;
    padding: 5px 5px;
    margin: 0px 5px;
    font-style: italic;
    font-weight: bold;
}


.homepage #destination {
    display: inline-block;
    width: 120px;
    color:  grey;
    text-transform: lowercase;
    font-style: italic;
    font-weight: bold;
}

.choose-destination:hover {
    display: flex;
}



/* section2 */
.homepage #section2 {
    /* border: 1px solid black; */
    margin: 40px auto 0px;
}

.homepage #section2 div:nth-of-type(1) {
    align-items: center;
    justify-content: center;
}

.homepage .featured-img img {
    max-width: 90%;
    min-width: 85%;
    border-radius: 10px;
    display: block;
    margin: auto;
    max-height: 275px;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

.homepage .featured-img img:hover {
    transform: scale(1.05);
    transition-duration: 250ms;
}

.homepage .featured-img-title {
    font-weight: 800;
}

.homepage .featured-img-title img {
    width: 70px;
    height: 70px;
}

.homepage .featured-img-title h3{
    font-size: xx-large;
}

@media screen and (max-width: 991px) {
    .homepage #section2 div div {
        margin-bottom: 10px;
    }
}

.homepage .where-to li:nth-of-type(1) {
    font-weight: bold;
}

/* recomendation */

@media screen and (max-width: 991px) {
    .homepage .where-to li:nth-of-type(1) {
        display: block;
        width: 100%;
    }

    .homepage .where-to {
        list-style: none;
    }

    .homepage .where-to li {
        width: 40px;
        padding: 5px;
    }

}

.homepage .where-to {
    margin: 10px;
    list-style: none;
        /* border: 1px solid red; */
    display: block;
    overflow-y:hidden !important;
    height: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
  
}


.homepage .where-to li {
    margin-right: 5px;
    display: inline;
    background-color:#f0e8e7;
    border-radius: 20px;
    font-weight: bold;

    float: left;
    width: 130px;
    /* border: 1px solid green; */
    padding: 5px;
}

.homepage .where-to li:hover {
    background-color: #f5f4f2;
}

.homepage .where-to li:nth-of-type(1) {
    color: black;
    font-weight: 600;
    background-color: transparent;
}

.homepage .where-to li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
    object-fit: cover;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

.homepage .where-to li img:hover{
    transform: scale(1.05);
    transition-duration: 250ms;
}


/* section3 */

.homepage #section3 {
    /* border: 1px solid red; */
    background-image: url("https://img.freepik.com/free-photo/top-view-white-plane-green-background_23-2148971056.jpg?w=2000");
    padding: 20px 10px;
    margin-top: 40px;
}

.homepage .section3-right {
    padding: 30px 20px 0px;
}

.homepage .banner {
    align-items: center;
}

.homepage .banner-left div {
    max-width: 450px;
    color: #FFFFFF;
    margin: auto;
    font-size: larger;
}

.homepage .banner-left div h3,
.banner-left div h1 {
    font-weight: 700;
}

.homepage .banner-btn {
    background-color: #f1bc68;
    padding: 5px 25px;
    border-radius: 25px;
    font-weight: bold;
}

.homepage .banner-right {
    border-radius: 25px;
    background-color: #FFFFFF;
    max-width: 450px;
    margin: auto;
}

.homepage .banner-article {
    align-items: center;
    margin: 10px 5px;
    justify-content: space-between;
    font-weight: bold;
}

.homepage .banner-article:nth-of-type(1) {
    padding-top: 10px;
}

.homepage .banner-article:nth-of-type(2) {
    padding-top: 0px;
}

.homepage .banner-article:nth-of-type(3) {
    padding-bottom: 10px;
}

.homepage .banner-article hr {
    margin-top: 5px;
}


.homepage .banner-article img {
    max-width: 80px;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

.homepage .banner-article img:hover {
    transform: scale(1.05);
    transition-duration: 250ms;
}


/* section4 */
.homepage #section4 {
    /* border: 1px solid red; */
    margin-top: 40px;
}

.homepage #section4 div {
    align-items: center;
    justify-content: center;
}

.homepage .feautured-article {
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.homepage .feautured-article div img {
    max-width: 100%;
    border-radius: 10px;
    /* border: 1px solid yellow; */
}

.homepage .feautured-article div {
    font-weight: bold;
    /* border: 1px solid pink; */
}



.homepage .section4-card {
    position: relative;
    border-radius: 10px;
    margin-top: 10px;
    /* border: 1px solid pink; */
}

.homepage .section4-card img {
    max-width: 90%;
    border-radius: 10px;
    display: block;
    margin: auto;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

.homepage .section4-card img:hover {
    transform: scale(1.05);
    transition-duration: 250ms;    
}

.homepage .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 36px;
    font-size: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 576px) {
    #section4-reverse {
        flex-direction: column-reverse;
    }

    .homepage .section4-card {
        margin-bottom: 10px;
    } 
}

/* section5 */

.homepage #section5 {
    margin-top: 40px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}

.homepage #section5 div {
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
}

.homepage .section5-left img {
    max-width: 80%;
}

.homepage .about-us {
    text-align: right;
}

.homepage .about-link {
    font-style: italic;
    font-weight: 500;
}

/* section6 */
.homepage .form-inline {
    justify-content: center;
}

.homepage a {
    text-decoration: none;
    color: black;
}

.homepage a:hover {
    color: #0778e8;
}

.homepage button:hover {
    background-color: bisque;
    transform: scale(1.05);
    transition-duration: 250ms;
    color: #0778e8;
    transition-timing-function: ease-in-out;
}