.footer {
    background-color: #c0e2e2;
}

.footer-content {
    justify-content: space-between;
}

.footer input {
    /* border: 1px solid red; */
    font-size: larger;
}

.footer .subcribe-form {
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid green; */
    max-width: 400px;
}

@media screen and (min-width: 992px) {
    .footer #myForm {
        justify-content: end;
    }
}

@media screen and (max-width: 992px) {
    .footer #myForm {
        justify-content: center;
        align-items: center;
    }

    .footer #myForm form div {
        text-align: center;
    }
}

.footer a {
    text-decoration: none;
}
.footer a:hover {
    color: #0778e8 !important;
    font-weight: bold;
}
.footer a:active {
    color: #0778e8 !important;
}
.footer h3 {
    font-weight: 600;
}