.navbar {
  padding: 10px;
  background-color: #c0e2e2;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;

}

.navbar-expand-lg .navbar-nav {
  //align-items: center;
}


.input-search {
  //margin:auto 130px;
  padding: 10px 16px;
  width: 440px;
  background-color:#e5e5e5;
  height: 48px;
  border-radius: 92px;
  display: flex;
  border: 1px solid transparent;
  justify-content: space-between;

    input {
      width: 270px;
      color: var(--black);
      font-size: 1.6rem;
      background-color: transparent;
      caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .btn-search svg {
      color: black;
    }
  &:focus-within {
    border-color:  rgba(22,24,25,0.2);
  }
}


//Search result
.result-search {
  width: 435px;
}

.search-account {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
.search-language {
  height: 42px;
  padding: 10px 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
  border-radius: 8px;

  svg {
    font-size: 1.8rem;
    margin-right: 5px;
  }
  &:hover {
    background: #dad9d9;
  }
}

.btn-search {
  background: transparent;
  padding-left: 10px;
  width: 30px;
  height: 100%;
  border-left: 1px solid rgba(22,24,25,0.2);

  svg {
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
      color: #f32903;
    }
  }


}

.btn-closes {
  background-color: transparent;
  color: rgba(22, 24, 35, 0.34);
}

// btt language

.button_language {
  padding: 8px 10px;
  background: #e5e5e5;
  border-radius: 92px;
  margin: auto;
  margin-left: 0;
  svg {
    font-size: 1.5rem;
  }
  span {
    font-weight: bold;
  }
}

.header-left {
  display: flex;
  justify-content: space-around;
  width: 310px;
}

//icon
.icon-btn {
  padding: 5px 10px;
  align-items: center;
  margin: auto 0;
  i {
    font-size: 2.5rem;
    padding: 8px 10px;
    background: #e5e5e5;
    border-radius: 15px;
    margin: 0 2px;
    cursor:pointer;
  }

}
.btn-sign {
  margin: auto;
  button {
    padding: 9px;
    border-radius: 12px;
    display: flex;

    .nav-link {
      padding: unset;
      color: #333;
      font-weight: bold;
      font-size: 1.4rem;
      text-decoration: none;
      svg {
        font-size: 1.7rem;
        padding: 0 0 3px 3px;
      }
    }
  }
}
