
.header-title{
    font-weight: 800;
    font-size: 3rem;
}
.header-content{
    font-family: 'Poppins',Georgia,serif;
    font-style: italic;
    line-height: 3rem;
    font-size: 1.7rem;
    letter-spacing: .15rem;
}
.image-main {
    /*border-radius: 50%;*/
    width: 100%;
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01My4zLC01MEM2Ny44LC0zOC44LDc3LjQsLTE5LjQsNzguOCwxLjRDODAuMiwyMi4xLDczLjMsNDQuMyw1OC44LDU3LjdDNDQuMyw3MS4yLDIyLjEsNzYsLTAuMiw3Ni4yQy0yMi42LDc2LjQsLTQ1LjIsNzIuMSwtNTgsNTguNkMtNzAuOSw0NS4yLC03NC4xLDIyLjYsLTczLjcsMC40Qy03My4zLC0yMS44LC02OS4zLC00My41LC01Ni40LC01NC44Qy00My41LC02Ni4xLC0yMS44LC02Ni44LC0xLjIsLTY1LjdDMTkuNCwtNjQuNSwzOC44LC02MS4zLDUzLjMsLTUwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
    mask-size: 100rem;
    mask-position: center;
    mask-repeat: no-repeat;
}
ol {
    list-style-type: none;
}
.top-header-list {
    display: inline-block;
    margin-left: 3px;
    font-size: 1.5rem;
    font-weight: 700;
}
.about-us{
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #eadfde;
    max-width: 90rem;
    border-radius: 10%;
    padding: 0;
}
.about-us div{
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
}
.about-us .about-us-left img{
    max-width: 60%;
    padding: 0;
    margin-left: -1.5rem;

}
.about-us .about-us-right{
    text-align: right;
}
.about-us-button{
    font-size: 1.7rem;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 250ms ease-in-out;
}
.about-us:hover .about-us-button{
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
}
.post-related .card-img {
    transition: all ease-in-out 250ms;
    border-radius: 2%;
}

.post-related-card {
    overflow: hidden;
    transition: all 250ms ease-in-out;
    max-width: 40rem;
    max-height: 11rem;
}
.post-related-card .card-text{
    height: 11rem;
    display: flex;
    align-items: center;
}
.post-related .post-related-card:hover .card-img {
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
}

.post-related-card:hover {
    background-color: #e6e6e6;
    transition: all 250ms ease-in-out;
}

.post-related .card-text {
    font-weight: 800;
}

.post-content-title {
    margin-top: 15px;
    font-size: 4rem;
}

.post-content-article {
    font-family: 'Poppins', Georgia, serif;
    font-size: 2rem;
    letter-spacing: .15rem;
    line-height: 3.3rem;
    text-align: justify;
    margin-top: 15px;
}
.prep-list-table-row{
    transition: all 250ms ease-in-out;
}
.prep-list-table-img{
    background-color: #e6e6e6;
    border-radius: 50%;
}
.prep-list-table-title{
    border-radius: 10%;
}
.prep-list-table-title:hover{
    background-color: #e6e6e6;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.post-content-img {
    border-radius: 2%;
}
.prep-list-container{
    padding: 0;
}
.category-cover-title::after,.category-cover-title::before{
    left: -.06em;
    top: -.06em;
    transition: top .25s ease-in,left .25s ease-in,color .25s ease-in;
    transition-delay: .8s;
}
.category-cover-title::before{
    color: rgba(255,255,255,.4);
    z-index: -1;
}
.category-cover-title::after{
    color: rgba(94,60,59,.3);
}
.category-cover-title::after,.category-cover-title::before{
    content: attr(title);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: .02em;
}
.category-cover-title{
    color: #d8c4c3;
    font-size: 6em;
    left: 0;
    top: 0;
    transition: top .25s ease-in,left .25s ease-in,color .25s ease-in;
    transition-delay: .8s;
    display: inline-block;
    line-height: .9;
    margin: 0;
    position: relative;
    z-index: 80;
    text-transform: uppercase;
    word-break: break-word;
}
::after,::before{
    text-transform: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
}
.arrow-icon{
    font-size: 3rem;
}
.social-buttons{
    margin-left: 2rem;
    font-size: 1.5rem;

}
.read-all-text{
    margin-top: 5%;
    margin-left: 10%;
}
.read-all-img{
    border-radius: 40%;
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01My4zLC01MEM2Ny44LC0zOC44LDc3LjQsLTE5LjQsNzguOCwxLjRDODAuMiwyMi4xLDczLjMsNDQuMyw1OC44LDU3LjdDNDQuMyw3MS4yLDIyLjEsNzYsLTAuMiw3Ni4yQy0yMi42LDc2LjQsLTQ1LjIsNzIuMSwtNTgsNTguNkMtNzAuOSw0NS4yLC03NC4xLDIyLjYsLTczLjcsMC40Qy03My4zLC0yMS44LC02OS4zLC00My41LC01Ni40LC01NC44Qy00My41LC02Ni4xLC0yMS44LC02Ni44LC0xLjIsLTY1LjdDMTkuNCwtNjQuNSwzOC44LC02MS4zLDUzLjMsLTUwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
    mask-size: 60rem;
    mask-position: center;
}
