/** {*/
/*    font-size: 1.9rem;*/
/*}*/
/*.header{*/
/*    width: 80%;*/
/*    font-size: 1.3rem;*/
/*}*/

.header{
    margin-left: 5em;
}

.page-cover{
    z-index: 100;
    position: relative;
}
.category-cover-title::after,.category-cover-title::before{
    left: -.06em;
    top: -.06em;
    transition: top .25s ease-in,left .25s ease-in,color .25s ease-in;
    transition-delay: .8s;
}
.category-cover-title::before{
    color: rgba(255,255,255,.4);
    z-index: -1;
}
.category-cover-title::after{
    color: rgba(94,60,59,.3);
}
.category-cover-title::after,.category-cover-title::before{
    content: attr(title);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: .02em;
}
.category-cover-title{
    color: #d8c4c3;
    font-size: 6em;
    left: 0;
    width: 60rem;
    top: 0;
    transition: top .25s ease-in,left .25s ease-in,color .25s ease-in;
    transition-delay: .8s;
    display: inline-block;
    line-height: .9;
    margin: 0;
    position: relative;
    z-index: 80;
    text-transform: uppercase;
    /*word-break: break-word;*/
}


/*.category-cover-left__heading{*/
/*    margin-top: 15rem;*/
/*}*/
::after,::before{
    text-transform: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
}
.category-cover{
    display: flex;
    height: 100%;
    left: 0;
    max-width: 100%;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.category-cover-left{
    padding: 0 0 45px 0;
    max-width: 100%;
    font-size: 1.3rem;
    margin-left: -5rem;
    left: -5rem;
    padding-top: 15rem;
}
.category-cover-subtitle{
    display: block;
    font-family: "Freehand",Arial,sans-serif;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 0;
    position: relative;
    font-size: 1.5em;
    left: -15px;
}
.category-cover-right-title{
    font-family: "Freehand",Arial,sans-serif;
    font-size: 2em;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.category-cover-excerpt{
    /*font-family: Montserrat,Arial,sans-serif;*/
    font-size: 1em;
    letter-spacing: .03em;
    line-height: 1.65em;
    padding-left: 20px;
    width: 315px;
    position: absolute;
    z-index: 5;
}
.category-cover-right{
    left: -15em;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: visible;
    font-size: 1em;
    width: 300px;
    display: flex;
    letter-spacing: .03em;
    line-height: 1.65em;
    margin-bottom: 15px;
    position: relative;
}

.salt-icon{
    background-color: #c0e2e2;
    border: 1px solid #c0e2e2;
    border-radius: 50%;
    object-fit: contain;
}
.page-cover-image{
    height: 660px;
    max-width: 650px;
    mask-position: top center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transform: scale(1,1);
    left: 50px;
    margin: 0 auto;
    padding-left: 7%;
    right: 0;
    /*width: 100%;*/
    position: relative;
}
.page-cover_image{
    position: absolute;
    border-radius: 50%;
    margin-left: -18em;
    /*width: 140%;*/
    z-index: -5;
}

.page-header {
    width: 80%;
    margin: auto;
    height: 500px;
}

.page-header h1 {
    font-size: 18px;
    text-align: center;
}

.page-header h1 span {
}

.page-header__place {
    font-size: 50px
}

.page-header__image img {
    position: absolute;
    z-index: -2;

}
.page-header__place::after, .page-header__place::before  {
    /*content: attr(title);*/
    left: -.06em;
    top: -.06em;
    transition: top .25s ease-in,left .25s ease-in,color .25s ease-in;
    transition-delay: .8s;
}

.page-header__place::before {
    /*content: attr(title);*/
    color: rgba(255,255,255,.4);
    z-index: -1;
}

.page-header__place::after {
    color: rgba(94,60,59,.3);
}

.page-header__place::after, .page-header__place::before {
    content: attr(title);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: .02em;
}

.page-header__place {
    content: attr(title);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: .02em;
}

::after,::before{
    text-transform: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
}

.page-header__place {
    font-size: 100px;
}

.page-header__description {
    font-family: 'Freehand', cursive;
    font-size: 40px;
}

/*page-content*/

.page-content {
    /*width: 80%;*/
    margin-top: 5rem;
}

/*.article-img__img {*/
/*    width: 50rem;*/
/*}*/


.page-content__search-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.search-title__heading {
    font-family: 'Freehand', cursive;
    font-size: 2rem;
}
.page-content__search-ul {
    list-style: none;
    width: 15%;
    min-width: 300px;
    box-shadow:  2px 2px 2px rgb(0 0 0 / 5%), -2px 2px 2px rgb(0 0 0 / 4%), 2px 2px 2px rgb(0 0 0 / 5%), 0 0 2px rgb(0 0 0 / 8%);
    padding: 20px;
    border-radius: 20px;
    margin-right: 10rem;
    margin-left: -10rem;
}

.page-content__search-li {
    border-bottom: 1px solid rgb(0 0 0 / 5%);
}
.page-content__search-link{
    margin-left: 30px;
}

/*.page-content__search h3 {*/
/*    margin-left: -15rem;*/
/*}*/
.article-img__img {
    /*width :43rem;*/
    /*margin-top: 2.8rem;*/
    /*overflow: hidden;*/
    /*vertical-align: middle;*/
    top: -500px;
    left: -100px;
    position: relative;
    padding-top: 0;
    /*height: 28rem;*/
    margin-left: -2rem;
    object-fit: cover;
}

/*}*/

.article-img {
    /*border: 1px solid red;*/
    width: 60rem;
    height: 25rem;
    overflow: hidden;
    /*position: relative;*/
    border-radius: 2%;
    margin-top: 2.8rem;
    margin-left: 7rem;
}

/*.article-img__img::after {*/
/*    background: rgba(0,0,0,.1);*/
/*    content: "";*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    top: 0;*/
/*}*/

.article-img:hover .article-img__img{
    transform: scale(1.1);
    overflow: hidden;
    transition: all 250ms ease-in-out;
}
.article-img:hover {
    cursor: pointer;
}

.article-img__span {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    position: relative;
    top: -2.5rem;
    border: 1px solid gray;
}

.article-heading {
    margin-bottom: -10rem;
}

/*must-do-part css*/

.section {
    width: 90%;
}


/*.must-do__img-container {*/
/*    width: 30%;*/
/*    min-width: 30rem;*/
/*    height: 35rem;*/
/*    overflow: hidden;*/
/*}*/
/*img.must-do__img {*/
/*    object-fit: cover;*/
/*}*/

.must-do__img-container:hover .must-do__img {
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
}

/*.must-do__title {*/
/*    position: relative;*/
/*}*/

/*.must-do__title h4 {*/
/*    position: absolute;*/
/*    bottom: 10rem;*/
/*    left: 10rem;*/
/*    z-index: 100;*/
/*}*/
.must-do__title h4 {
    font-weight: bolder;
}

.must-do__img-container:hover {
    cursor: pointer;
}

/*ending content*/

.ending-content {
    font-size: 1.3rem;
    line-height: 1.8rem ;
    text-align: justify;
}

.section {
    margin-top: 3rem;
}

.page-content {
    width: 60%;
}


.page-content__search-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.search-title__heading {
    font-family: 'Freehand', cursive;
    font-size: 30px;
    text-align:left;
    display: block;
    margin-left: -4rem;
}
.page-content__search-ul {
    list-style: none;
    width: 15%;
    min-width: 300px;
    box-shadow:  2px 2px 2px rgb(0 0 0 / 5%), -2px 2px 2px rgb(0 0 0 / 4%), 2px 2px 2px rgb(0 0 0 / 5%), 0 0 2px rgb(0 0 0 / 8%);
    padding: 20px;
    border-radius: 20px;
}

.page-content__search-li {
    border-bottom: 1px solid rgb(0 0 0 / 5%);
}
.page-content__search-link{
    margin-left: 30px;
}

/*.article-img__img {*/
/*    width :45rem;*/
/*    margin-top: 2.8rem;*/
/*    overflow: hidden;*/
/*    vertical-align: middle;*/
/*    position: absolute;*/

/*}*/

/*.article-img {*/
/*    width: 43rem;*/
/*    height: 25rem;*/
/*    overflow: hidden;*/
/*    margin-top: 2.8rem;*/
/*    !*z-index: 1;*!*/
/*    position: relative ;*/
/*}*/

/*.article-img__img::after {*/
/*    background: rgba(0,0,0,.1);*/
/*    content: "";*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    top: 0;*/
/*}*/

.article-img:hover .article-img__img{
    transform: scale(1.1);
    overflow: hidden;
    transition: all 250ms ease-in-out;
}
.article-img:hover {
    cursor: pointer;
}

.article-img__span {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: -2.5rem;
    border: 1px solid gray;
}

.article-heading {
    margin-top: -2rem;
}

div.div {
    margin-left: 5rem;
}
/*must-do-part css*/

.page-content__search-link {
    font-weight: bold;
}
.page-content__search-li a {
    text-transform: unset;
    text-decoration: none;
    color: black;
}

.page-content__search-li a:hover {
    color: gray;
}
img.page-cover_image {
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01My4zLC01MEM2Ny44LC0zOC44LDc3LjQsLTE5LjQsNzguOCwxLjRDODAuMiwyMi4xLDczLjMsNDQuMyw1OC44LDU3LjdDNDQuMyw3MS4yLDIyLjEsNzYsLTAuMiw3Ni4yQy0yMi42LDc2LjQsLTQ1LjIsNzIuMSwtNTgsNTguNkMtNzAuOSw0NS4yLC03NC4xLDIyLjYsLTczLjcsMC40Qy03My4zLC0yMS44LC02OS4zLC00My41LC01Ni40LC01NC44Qy00My41LC02Ni4xLC0yMS44LC02Ni44LC0xLjIsLTY1LjdDMTkuNCwtNjQuNSwzOC44LC02MS4zLDUzLjMsLTUwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
    mask-repeat: no-repeat;
    mask-size: 85rem;
    mask-position: center;
}

.category-cover-left {
    width: 35rem;
    bottom: 8rem;
    position: relative;
}

.cover-text-header {
    margin-left: 5rem;
}


.div-bg {
    background: url('../images/others/pink-roundshape.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.category-cover-right {
    margin-left: -2rem;
    font-size: 1rem;
    bottom: 5rem;
    margin-top: 10rem;
    position: relative;
}

img.page-cover_image {
    width: 728px;
}

.page-cover-image {
    margin-right: -200px;

}

.salt-icon{
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01My4zLC01MEM2Ny44LC0zOC44LDc3LjQsLTE5LjQsNzguOCwxLjRDODAuMiwyMi4xLDczLjMsNDQuMyw1OC44LDU3LjdDNDQuMyw3MS4yLDIyLjEsNzYsLTAuMiw3Ni4yQy0yMi42LDc2LjQsLTQ1LjIsNzIuMSwtNTgsNTguNkMtNzAuOSw0NS4yLC03NC4xLDIyLjYsLTczLjcsMC40Qy03My4zLC0yMS44LC02OS4zLC00My41LC01Ni40LC01NC44Qy00My41LC02Ni4xLC0yMS44LC02Ni44LC0xLjIsLTY1LjdDMTkuNCwtNjQuNSwzOC44LC02MS4zLDUzLjMsLTUwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
    -webkit-mask-size: revert;
    /*width: 15px;*/
}

.ending-content__p h3  {
    font-size: larger;
    line-height: 1.5rem;
}

.page-content-container {
    background: url(../images/others/pink-roundshape.webp) no-repeat;
    background-size: contain;
    width: 100%;
    margin-left: -10rem;
    margin-top: 10rem;
}

div.div span {
    position: relative;
    bottom: 5rem;
    display: block;
    text-align: center;

}

.page-content-article {
    width: 100%;
    margin: auto;
}

.article-img {
    width: 69rem;
    height: 35rem;
    overflow: hidden;
    bottom:  250px;
}


/*must do part*/

.must-do__img-container {
    width: 32%;
    min-width: 300px;
    height: 50rem;
    overflow: hidden;
    position: relative;
    padding-bottom: -2rem;
    border-radius: 15px;
}

.must-do__img {
    /*position: absolute;*/
    height: 50rem;
    object-fit: cover;
    /*position: relative;*/
    text-align: center;
    border-radius: 15px;

}

/*top: -250px;
    position: relative;
    padding-top: 0;
    /*height: 28rem;*/
/*margin-left: -2rem;*/
/*}*/

/*!*}*!*/

/*.article-img {*/
/*    !*border: 1px solid red;*!*/
/*    width: 60rem;*/
/*    height: 25rem;*/
/*    overflow: hidden;*/
/*    !*position: relative;*!*/
/*    border-radius: 2%;*/
/*    margin-top: 2.8rem;*/
/*    margin-left: 7rem;*!*/

.category-cover-excerpt {
    font-weight: lighter;
}

.right-content-text span {
    font-weight: lighter;
}
.right-content-text h5{
    font-family: "Freehand", Arial, sans-serif;
    font-size: 2.8rem;
    font-weight: lighter;
}
.must-do__title span {
    background-color: white;
    padding: 0 10px;
}
.must-do__title span:first-child {
    background-color: white;
    font-size: 2.8rem;
}

.must-do__img-container .must-do__title{
    position: absolute;
    bottom: 6rem;
    padding-left: 2rem;
}

.ending-content__p h3 {
    margin-bottom: 2rem;

}

div.div span {
    padding: 5px;
    background-color:white;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-left: 32rem;
    margin-bottom: -5rem;
}

.category-cover-title {
    font-weight: bolder;
}

.right-content-text h5{
    text-align: center;

}

.right-content-text span {
    font-size: 1.6rem;
    line-height: 2rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    * {
        margin: 0;
        padding: 0;
    }

    header {
        width: 100%;
        background: url(../images/others/pink-roundshape.webp);
        background-repeat: no-repeat;

    }

    .category-cover-left__heading span {
        text-align: center;
        font-size: 5rem;
    }

    .category-cover-title {
        font-size: 8rem !important;
    }

    .category-cover-excerpt {
        font-size: 2rem;
        text-align: center;
        width: 100% !important;
    }

    .page-cover-image {
        display: none;
    }

    .page-cover_image {
        width: 100% !important;
        margin: auto;
    }

    .category-cover-right-top {
        display: flex !important;
        float: left;
        width: 90% !important;
        margin-left: -12rem;
    }

    .category-cover-right-top img {
        width: 50px !important;
    }

    .right-content-text h5 {
        font-size: 18px !important;
        margin: 0 !important;
        text-align: left !important;
    }

    .right-content-text span {
        font-size: 10px !important;
    }

    .page-content {
        display: flex !important;
        flex-direction: row !important;
    }

    .page-content__search {
        margin-left: 15rem;
        margin-top: -10rem;
    }

    .article-img {
        width: 300px !important;
        height: 250px !important;
        margin-left: 11rem;
    }

    .div span {
        padding: 0 !important;
    }

    .div span img {
        margin-left: -22rem;
    }

    .article-heading h1 {
        font-weight: bold;
        width: 400px !important;
    }

    .must-do {
        margin-top: 5rem !important;
        background: url('../images/others/pink-roundshape.webp');
        display: -ms-flexbox;

    }

    .must-do__img-container {
        margin-bottom: 1rem;
    }

    /* Styles */
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */

    .category-cover-right-top {
        display: flex !important;
        float: left;
        width: 600px !important;
        margin-left: -12rem;
    }

    .category-cover-right-top {
        display: flex !important;
        float: left;
        width: 90% !important;
        margin-left: -12rem;
    }

    .category-cover-right-top img {
        width: 50px !important;
    }

    .right-content-text h5 {
        font-size: 18px !important;
        margin: 0 !important;
        text-align: left !important;
    }

    .right-content-text span {
        font-size: 10px !important;
    }

}

