.hover {
  width: 500px;
  margin-top: 8px;
  border-radius: 8px;
  padding-top: 15px;
  min-height: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: center;
}