.about #section1 {
    margin-top: 30px;
    /* background-color: antiquewhite; */
    text-align: center;
}

.about #section1 div {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

/* section2 */
.about .person div{
    padding: 15px;
}

/* section3 */
.about #section3 {
    margin-top: 30px;
}

.about .section3-content {
    max-width: 750px;
    margin: auto;
}
