.about #section1 {
    margin-top: 30px;
    /* background-color: antiquewhite; */
    text-align: center;
}

.about #section1 div {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

/* section2 */
.about .person div{
    padding: 15px;
}

.about .person div img{
    height: 40rem;
    width: 40rem;
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01My4zLC01MEM2Ny44LC0zOC44LDc3LjQsLTE5LjQsNzguOCwxLjRDODAuMiwyMi4xLDczLjMsNDQuMyw1OC44LDU3LjdDNDQuMyw3MS4yLDIyLjEsNzYsLTAuMiw3Ni4yQy0yMi42LDc2LjQsLTQ1LjIsNzIuMSwtNTgsNTguNkMtNzAuOSw0NS4yLC03NC4xLDIyLjYsLTczLjcsMC40Qy03My4zLC0yMS44LC02OS4zLC00My41LC01Ni40LC01NC44Qy00My41LC02Ni4xLC0yMS44LC02Ni44LC0xLjIsLTY1LjdDMTkuNCwtNjQuNSwzOC44LC02MS4zLDUzLjMsLTUwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
    mask-repeat: no-repeat;
    width: max-content;
    mask-position: center;
}

.about #luyen{
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01NS43LC02N0M3MS4yLC01My40LDgyLC0zNC45LDg1LjksLTE0LjhDODkuOCw1LjMsODYuOSwyNi45LDc2LjcsNDQuMUM2Ni41LDYxLjMsNDkuMSw3NC4yLDMwLjEsODBDMTEsODUuOCwtOS42LDg0LjUsLTI3LjksNzcuNEMtNDYuMSw3MC40LC02MS45LDU3LjYsLTcyLjgsNDFDLTgzLjgsMjQuMywtODkuNywzLjcsLTg3LjEsLTE2Qy04NC40LC0zNS44LC03My4xLC01NC43LC01Ny4yLC02OC4yQy00MS4yLC04MS42LC0yMC42LC04OS42LC0wLjIsLTg5LjNDMjAuMSwtODksNDAuMywtODAuNSw1NS43LC02N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
}

.about #ngan{
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01MS43LC02Mi45QzY1LjksLTQ5LjYsNzUuOCwtMzIuMyw3OC4yLC0xNC40QzgwLjUsMy41LDc1LjQsMjIsNjYuNiwzOS42QzU3LjgsNTcuMSw0NS4zLDczLjYsMjguMyw4MS40QzExLjMsODkuMSwtMTAuMiw4OCwtMjcuNSw3OS44Qy00NC44LDcxLjYsLTU3LjgsNTYuMywtNjguMSwzOS4xQy03OC4zLDIxLjgsLTg1LjYsMi43LC04NC4yLC0xNi42Qy04Mi45LC0zNS45LC03Mi45LC01NS40LC01Ny40LC02OC41Qy00MS45LC04MS43LC0yMSwtODguNCwtMS4xLC04Ny4xQzE4LjcsLTg1LjgsMzcuNCwtNzYuMyw1MS43LC02Mi45WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
}

.about #vanhai{
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01Ni41LC02OC4yQzcxLjQsLTU0LjksODAuMiwtMzUuMyw4My42LC0xNC45Qzg3LDUuNSw4NC45LDI2LjYsNzUuMSw0My4xQzY1LjMsNTkuNSw0Ny43LDcxLjIsMjguMiw3OC44QzguNyw4Ni41LC0xMi43LDkwLjEsLTMxLjEsODRDLTQ5LjUsNzcuOSwtNjQuOSw2Mi4xLC03NC42LDQzLjhDLTg0LjMsMjUuNSwtODguMyw0LjYsLTg0LjYsLTE0LjZDLTgwLjgsLTMzLjgsLTY5LjMsLTUxLjQsLTUzLjksLTY0LjVDLTM4LjUsLTc3LjcsLTE5LjMsLTg2LjUsMC44LC04Ny41QzIwLjgsLTg4LjQsNDEuNywtODEuNSw1Ni41LC02OC4yWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
}

@media screen and (max-width: 576px) {
    .about .person div img{
        max-width: 100%;
    }
}



/* section3 */
.about #section3 {
    margin-top: 30px;
}

.about .section3-content {
    max-width: 750px;
    margin: auto;
}
